<div id="{{id}}_template" class="redui-customslider-outer redui-valid{{#model.cssClass}} {{model.cssClass}}{{/model.cssClass}}{{#model.isHidden}} redui-hidden{{/model.isHidden}}">
  {{#model.label}}<label for="{{id}}" class="redui-customslider-label">
    <span>{{#_localize}}{{model.label}}{{/_localize}}: {{#model.isRequired}}*{{/model.isRequired}}</span>
  </label>{{/model.label}}
  <input id="{{id}}_amount" name="{{name}}" data-name="{{name}}" type="text" style="width: 32px; margin-bottom: 16px;" readonly="readonly" />
  <div id="{{id}}" class="redui-customslider redui-focusable" style="height:{{model.custom-length}}px;"></div>
  <div id="{{id}}_validationerrorbox" class="redui-validation-errorbox"></div>
{{#contextMenu}}{{{_toHtml}}}{{/contextMenu}}</div>