<div id="{{id}}_template" class="redui-pager-outer{{#model.cssClass}} {{model.cssClass}}{{/model.cssClass}}{{#model.isHidden}} redui-hidden{{/model.isHidden}}">
  <div id="{{id}}" data-name="{{name}}" class="redui-pager">
    <button id="{{id}}_firstpage" class="redui-pager-button redui-focusable" tabindex="0" type="button"><<</button>
    <div id="{{id}}_pages" class="redui-pager-pages"></div>
    <button id="{{id}}_lastpage" class="redui-pager-button redui-focusable" tabindex="0" type="button">>></button>
  </div>
{{#contextMenu}}{{{_toHtml}}}{{/contextMenu}}</div>